<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Favorites", user_path(current_user), class: "navbar-brand"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Log Out", logout_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<h1>Gifs</h1>
<% if current_admin? %>
  <%= link_to 'Add New Gif', new_admin_gif_path %>
<% end %>

<% @gifs.each do |gif| %>
  <%= link_to image_tag(gif.image_url), gif_path(gif)%>
  <% if current_admin? %>
      <%= link_to 'Delete', admin_gif_path(gif), method: 'delete' %>
  <% end %>
    <% if current_user %>
      <%= form_for current_user.favorites.new, url: user_favorites_path(current_user) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :gif_id, value: gif.id  %>
        <%= f.submit "Add To Favorites" %>
      <% end %>
    <% end %>
<% end %>
