<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Browse", gifs_path, class: "navbar-brand"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Log Out", logout_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1 class="display-4">Welcome, <%= current_user.first_name %>!</h1>
  <p class="lead"><%= pluralize( @favorites.count, "Favorite") %></p>
  <hr class="my-4">

<% @favorites.each do |favorite| %>
   <%= image_tag favorite.gif.image_url, class: "img-thumbnail" %>
   <%= button_to 'Unfavorite', user_favorite_path(current_user, favorite), method: :delete %>
<% end %>
</div>
